[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cherrypy = "*"
pytelegrambotapi = "*"
flask = "*"
pillow = "*"
algorithmia = "*"
pathlib = "*"
scikit-learn = "*"
scikit-image = "*"
numpy = "*"
scipy = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.6"
